<!DOCTYPE html>
<html>
<head>
  <title>Puppy</title>
</head>
<body>
  <h1>Puppy</h1>
<p>Puppy Name: \n <%= @puppy.name %></p>
<p>Puppy Breed: <%= @puppy.breed %></p>
<p>Puppy Age: <%= @puppy.age %></p>
</body>
</html>
