<!DOCTYPE html>
<html>
<head>
  <title>Display Puppy</title>
</head>
<body>
<h2>Puppy Name: <%= @puppy.name %></h2>
<h2>Puppy Breed: <%= @puppy.breed %></h2>
<h2>Puppy Age: <%= @puppy.age %></h2>
</body>
</html>
